<!DOCTYPE html>
<html>
    <head>
        <title> Homework List</title>
        <script src="angular.js"></script>
        <script src="app.js"></script>
        <script src="node_modules/angular-ui-router/build/angular-ui-router.min.js"></script>
    </head>
    <body ng-app="HomeworkApp">
        <div ui-view>
        <h1> Homework List:</h1>
        <a ui-sref="about"> About </a>
        <ul ng-controller="homeworkController">
            <li ng-repeat="homework in homeworks" ng-click="disp(homework)">
                Assignment: {{homework.assignment}}
                <ul ng-show="homework.display">
                    <li>url: {{homework.url}} </li>
                    <li>Status: {{homework.status}} </li>
                </ul>
            </li>
        </ul>
        </div>
    </body>
</html>